@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100;
}

.gradient-bg {
  @apply bg-animated-gradient min-h-screen;
}
